<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">


<body>

<h2>Customer saved:<span th:text = "${customer.fullName}"></span></h2>
<div>
	<p>ID         : <span th:text =  "${customer.id}"></span></p>
	<p>First name : <span th:text =  "${customer.firstName}"></span></p>
	<p>Last name  : <span th:text =  "${customer.lastName}"></span></p>
	<p>Email      : <span th:text =  "${customer.email}"></span></p>
	<p>Hobby      : <span th:text =  "${customer.hobby}"></span></p>
</div>
</body>





</html>