<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">

<head>
	<title>Customers</title>
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>

<table border = "1">
	<tr th:each="customer: ${customers}">
		<td th:text="${customer.id}" />
		<td th:text="${customer.firstName}" />
		<td th:text="${customer.lastName}" />
		<td th:text="${customer.email}" />
		<td th:text="${customer.hobby}" />
		<td>
			<a th:href="@{details/(id=${customer.id})}" class="button">See details</a>
		</td>
		<td>
			<a th:href="@{edit/(id=${customer.id})}" class="button">Edit</a>
		</td>
		<td>
		  	<form method="POST" th:action="@{remove/(id=${customer.id})}">
      			<button type="submit" name="submit">Delete</button>
  			</form>
		</td>
		
		 
	</tr>
	
</table>

<a th:href="@{/customer/customerform}" >Create new customer</a>

</body>

</html>